*{
    margin: 0px;
    padding: 0px;
    /* background-color: azure; */
}
.photo{
    margin-top: 10px;
    /* padding: 10px; */
    width:15%;
    height: 2%;
    border-radius: 50%;
    /* border-color: black; */
    box-shadow: 5px 5px 10px black;
}

.header{
    display: flex;
    
    
}

.name{
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 20px;
    color: aliceblue;
    /* text-align: center; */
}

.logo{
    width: 1vw;
    height: 5vh;
}

.head{
    background-color: gray;
}

.footer{
    background-color: rgb(227, 218, 218);
}

.footer a{
    text-decoration: none;
    color: rgb(47, 121, 148);
    
}




@media (max-width: 768px) {
    .header {
         flex-direction: column; 
               align-items: center;
               padding: 10px; 
            } 

    .header img { 
        margin-bottom: 10px;
     } 

     .header nav { 
        margin-top: 10px;
     }

     .header nav a {
         margin-left: 0;
     } 
} 

